# TODO: move this into a separate repo

server:
  http_listen_port: 0
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

client:
  url: # url here

scrape_configs:
- job_name: system
  static_configs:
  - targets:
      - localhost
    labels:
      job: varlogs
      host: ssr2
      __path__: /var/log/*.log

- job_name: journal
  journal:
    max_age: 12h
    path: /var/log/journal
    labels:
      job: systemd-journal
      host: ssr2
      __path__: /var/log/journal/+

- job_name: nginx
  static_configs:
  - targets:
      - localhost
    labels:
      job: nginx
      __path__: /var/log/nginx/access.log*
  - targets:
      - localhost
    labels:
      job: nginx
      host: ssr2
      __path__: /var/log/nginx/error.log*

- job_name: main_service
  static_configs:
  - targets:
      - localhost
    labels:
      job: main_service
      host: ssr2
      __path__: /var/log/serj-tubin-backend/service.log
