[Unit]
Description=Backend for personal serj-tubin.com site

[Service]
Type=simple
Restart=always
RestartSec=5
User=serj
Environment="OPEN_WEATHER_API_KEY=key goes here"
Environment="IP_INFO_API_KEY=key goes here"
Environment="SERJ_TUBIN_COM_SECRET_WORD=secret goes here"
Environment="SERJ_TUBIN_COM_ADMIN_USERNAME=username here"
Environment="SERJ_TUBIN_COM_ADMIN_PASSWORD_HASH=pass hash here"
Environment="SERJ_BROWSER_REQ_SECRET=pass here"
Environment="SERJ_REDIS_PASS=pass here"
WorkingDirectory=/home/serj/serj-tubin-com
ExecStart=/home/serj/serj-tubin-com/bin/service -env=production -config=/home/serj/serj-tubin-com/config.toml

[Install]
WantedBy=multi-user.target
