main
*.log

.idea/
test_root/
.vscode/
test_root/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

serjnetlog-*.json
*-credentials.json
netlog-backup
service
token.json

bin/

docker/docker-data-aerospike
docker/docker-data-postgres
docker/docker-data-redis
