networks:
  app-network:
    driver: bridge

services:
  # Main application service
  mainservice:
    build:
      context: ..
      dockerfile: Dockerfile
      args:
        OPEN_WEATHER_API_KEY: todo
        SERJ_TUBIN_COM_ADMIN_USERNAME: todo
        SERJ_TUBIN_COM_ADMIN_PASSWORD_HASH: '$2a$14$tqM9zVV1bSeI3e4mBW/8DuunsnoBoQwKBXeKASl4AXpALge3/WsXi'
        SERJ_BROWSER_REQ_SECRET: todo
        SERJ_GYMSTATS_IOS_APP_SECRET: todo
        SERJ_REDIS_PASS: todo
        OTEL_SERVICE_NAME: serj-tubin-com-docker-dev
        HONEYCOMB_ENABLED: "false"
        HONEYCOMB_API_KEY: ""
        SENTRY_DSN: todo
        SERJ_TUBIN_COM_SPOTIFY_CLIENT_ID: todo
        SERJ_TUBIN_COM_SPOTIFY_CLIENT_SECRET: todo
        SERJ_TUBIN_COM_SPOTIFY_AUTH_TOKEN: todo
    depends_on:
      - postgres
      - redis
    ports:
      - "9000:9000"
      - "2112:2112"
    networks:
      - app-network

  # File service
  fileservice:
    image: golang:latest
    depends_on:
      - redis
    volumes:
      - ..:/go/src/serj-tubin-com-file-service
      - ./docker-data-file-service:/file-service-data
    entrypoint: ["/bin/sh","-c"]
    command:
      - |
        go build -o bin/file-service cmd/file_service/main.go
        exec ./bin/file-service -host='0.0.0.0' -rhost='st-redis' -rootpath='/file-service-data' -log-to-stdout=true -log-file-path='/file-service-data/logs'
    ports:
      - "1987:1987"
    networks:
      - app-network
    working_dir: /go/src/serj-tubin-com-file-service
    environment:
      SERJ_REDIS_PASS: todo
      OTEL_SERVICE_NAME: serj-tubin-com-docker-dev
      HONEYCOMB_ENABLED: "false"
      HONEYCOMB_API_KEY: ""

  # PostgreSQL database
  postgres:
    image: postgres:latest
    volumes:
      - ../sql:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    environment:
      POSTGRES_DB: serj_blogs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_HOST_AUTH_METHOD: trust

  # Redis cache
  redis:
    image: redis:latest
    command: redis-server --appendonly yes --requirepass todo
    container_name: st-redis
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - app-network

  # Database admin interface
  adminer:
    image: adminer:latest
    depends_on:
      - postgres
    restart: unless-stopped
    ports:
      - "8088:8080"
    networks:
      - app-network

volumes:
  postgres-data:
  redis-data: